body{
    background-color: white;
    color: black;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;

}
.uno{
    font-style: italic;
    background-color: red;
}